@import "./_variables.scss";
@import "bootstrap";
@import "./_bootswatch.scss";
@import "./_transitions.scss";
@import "./_utilities.scss";
@import "./_overrides.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $light;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.pointer{
  cursor: pointer;
}